.manga-profile {
  width: 100vw;
  max-width: 1000px;
  padding-bottom: 70px;
}

.manga-profile section {
  width: 100%;
  background-color: var(--main-color-light-black);

  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.manga-profile section h2{
  color: var(--main-color-white);
  font-size: 1.2em;
}

.manga-profile section.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vmax;
}

section.main .banner-container {
  width: 100%;
  height: 33%;
  overflow: hidden;
}
section.main .banner-container img {
  width: 100%;

  filter: blur(4px);
  -webkit-filter: blur(4px);
}

section.main .main-info{
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}
section.main .main-info h1, section.main .main-info span{
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

section.main .main-info .img-container{
  height: 70%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
section.main .main-info img{
  box-sizing: content-box;
  position: absolute;
  top: -60px;
  max-width: 130px;
  width: 33%;

  border: 9px solid var(--main-color-light-black);
  
  border-radius: 5px;
}

section.main .main-info h1{
  color: var(--main-color-white);
  margin: 0px;
  font-size: 1.5em;
  font-weight: 500;
}
section.main .main-info span{
  color: var(--main-color-gray);
  font-weight: 500;
}

section.main .buttons-container {
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
}

section.description {
  padding: 10px 10px;
  font-size: 1.1em;
  color: var(--main-color-gray);
}
section.description h2{
  margin-bottom: 5px;
}
section.chapters {
  padding: 10px 10px;
  font-size: 1.1em;
}
section.chapters h2{
  padding-left: 0.5em;
}
section.chapters ul{
  list-style: none;
  padding-left: 1em;
}

section.chapters ul.shrinked li:nth-child(n+6){
  display: none;
}

section.chapters li{
  padding: 0.5em 0px;
  display: flex;
  justify-content: stretch;
  align-items: center;
}
section.chapters li a{
  color: var(--main-color-white);
  flex: 1;
}
section.chapters li.readed a{
  color: #707070;
  flex: 1;
}

section.chapters li i{
  color: transparent;
  font-size: 1.1em;
}
section.chapters li.readed i{
  color: var(--main-color-gray);
}

section button.show-more {
  color: var(--main-color-white);
  background-color: #c5c5c533;
  width: 100%;
  padding: 6px 0px;
  margin: 0 auto;
}

section.recommendations, section.characters {
  padding: 10px 0px;
}
section.recommendations h2, section.characters h2{
  padding: 0px 10px;
}
section.recommendations ul, section.characters ul{
  width: 100%;
  list-style: none;
  padding: 0px;
}

section.characters ul.shrinked li:nth-child(n+4){
  display: none;
}

section.characters button.show-more{
  margin: 0px 10px;
  width: calc(100% - 20px);
}


