.home {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.home .manga-list-container {
    max-width: 1000px;
    width: 100%;
    margin-top: 5px;

    
}

.home .manga-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    /* min-height: 150vh; */
    width: 100%;
}


.manga-list-container .end-area{
    width: 100%;
    padding: 10px 0px;
    margin-top: auto;
    display: flex;
    align-items: center;
}
