.home {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.home header {
    width: 100%;
    height: 20px;
    background-color: #1E1E1E;
}

.home .manga-list-container {
    max-width: 1000px;
    margin-top: 5px;
}

.home .manga-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

