.home {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.home .manga-list-container {
    max-width: 1000px;
    width: 100%;
    margin-top: 5px;

    
}

.home .manga-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
    min-height: 150vh;
}


.manga-list-container .end-area{
    height: 10vh;
    width: 100%;
    background-color: #111111;
    margin-top: auto;
}
