.menu {
  width: 0px;
  max-width: 90%;
  position: fixed;
  z-index: 11;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--main-color-black);
  overflow-x: hidden;
  transition: 0.5s;
}

.menu.show {
  width: 400px;
}

.menu-page {
  width: 100%;
  height: 100%;
}



.menu-page header {
  height: 60px;
  width: 100%;

  display: flex;
  align-items: center;
  background-color: var(--main-color-light-black);
}


.menu-page section{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 15px;

  border-bottom: 2px solid var(--main-color-light-black);
}



.menu-page .buttons-container {
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
}


