.nav-bar {
    position: fixed;

    left: 0;
    right: 0;

    transition: bottom 0.3s;
}

.nav-bar .display {
    height: 1.4em;
    font-size: 0.7em;
    color: #979797;
    display: flex;
    justify-content: center;

    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #1E1E1E;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

.nav-bar .buttons-container{
    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #1E1E1E;
    
}

.nav-bar.bottom {
    bottom: 0px;
}
.nav-bar.top {
    top: 0px;
}
