.nav-bar {
    height: 50px;
    background-color: #151818;
    position: fixed;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    left: 0;
    right: 0;

    transition: bottom 0.3s;
}

.nav-bar.bottom {
    bottom: 0px;
}
.nav-bar.top {
    top: 0px;
}
