.reader-page{
    background-color: #111111;
}

.reader-pages-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 200vh;
}

.reader-pages-container img {
    max-width: 100%;
}

.reader-page .next-chapter-area{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
}