.recent-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-page h1{
    color: #FEFEFE;
}

.recent-page .manga-list-wrapper{
    max-width: 1000px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.recent-page .manga-list {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}