.icon-button {
  width: 50px;
  height: 50px;

  border: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: #c5c5c5;
}

.icon-button i {
  font-size: 1.5em;
  margin-top: 3px;
}
.icon-button i.fa-heart {
  color: #ff3434;
}

.icon-button .label {
  font-size: 0.75em;
  margin: 0px;
  margin-top: 3px;
}

.icon-button:active {
  background-color: #494949;
  outline: none;
}

.icon-button:focus {
  outline: none;
}

